@import '../../../scss/variables';
@import '../../../scss/base';

.people-home {
    .list-group-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 1em 0;
        border-bottom: 1px solid $gray-light;
        @media (max-width: 768px) {
            .user-image.small {
                margin: 0;
            }
        }

        &::before {
            display: none;
        }
    }
}
