svg#frara {
    width: 100vw;

    @media (max-width: 768px) {
        position: relative;
        left: -25vw;
        right: -25vw;
        width: 150vw;
    }

    @media (min-width: 1440px) {
        max-width: 1400px;
        display: block;
        margin: auto;
    }
}
