@import '../../scss/base';

.venue-info {
    font-family: $font-family-roboto;

    .content-wrapper {
        position: relative;
        color: #222;
        max-width: 467px;
        padding: 50px;
        background: rgba(#ffd23d, 0.74);

        .light-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#fff, 0.74);
            transform: rotate(6deg);
        }

        > h3,
        > p,
        .apollo-info,
        .more-details {
            position: relative;
        }

        > h3 {
            font-size: px2rem(36);
        }

        .apollo-info {
            display: flex;

            svg {
                color: #008abe;
                font-size: px2rem(27);
            }

            .apollo-info-text {
                padding-left: 1rem;

                .apollo {
                    font-weight: 600;
                    font-size: px2rem(22);
                    margin: 0;
                }

                .address {
                    margin: 0;
                }
            }
        }

        .more-details {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-end;

            svg {
                width: 87px;
                margin-top: 15px;
                margin-right: 15px;
            }

            p {
                font-weight: 600;
                margin: 0;
            }
        }

        @include media-breakpoint-down(sm) {
            max-width: 85vw;
            margin: 3rem auto;
        }
    }
}
