@import '../../scss/variables';
@import '../../scss/base';

.hp-sponsors-partners {
    padding: 1rem 0;

    h2.title {
        text-align: center;
        margin: 35px 0;
        font-weight: 400;
        font-size: px2rem(49);
    }

    .sponsors-partners {
        .block-cont {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .block {
                flex: 1 1 50%;
                &:nth-child(2) {
                    border-left: 1px solid $gray-light;
                }
                @include media-breakpoint-down(lg) {
                    flex: 1 1 100%;
                    &:nth-child(2) {
                        border-left: none;
                    }
                }
            }
        }
        .link-rows-as-columns {
            display: flex;
            flex-direction: row;
            .links-row {
                flex: 0 0 50%;
            }

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                .links-row {
                    margin-bottom: 2em;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .links-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: flex-start;

            > .ploneconf-sponsor-type {
                width: 100%;
                margin-left: 1rem;

                @include media-breakpoint-down(lg) {
                    margin-left: 0;
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }
            &.gold {
                align-items: center;
                justify-content: center;
            }
        }

        .ploneconf-sponsor-link {
            margin: 1rem 1.5rem;

            a {
                display: block;
            }

            &.gold {
                margin: 2rem 2.5rem;
            }
            &.sponsorship {
                display: inline-flex;
                align-items: center;
                .ploneconf-sponsor-type {
                    margin-right: 2em;
                }
                @include media-breakpoint-down(lg) {
                    display: flex;
                    flex-direction: column;
                    .ploneconf-sponsor-type {
                        margin: 0;
                    }
                }
            }
            &.supporting {
                align-self: center;
            }
        }

        .ploneconf-sponsor-type {
            font-weight: 600;
            font-size: px2rem(16);
            line-height: px2rem(19);

            &.silver,
            &.bronze,
            &.partners,
            &.supporting,
            &.organizer {
                font-size: px2rem(18);
                line-height: px2rem(21);
            }

            &.gold,
            &.silver {
                strong {
                    color: $light-blue;
                }
            }
            &.gold {
                font-size: 1.4rem;
            }

            &.silver,
            &.bronze,
            &.supporting,
            &.partners,
            &.organizer {
                color: #c3c3c3;
            }

            &.bronze,
            &.supporting,
            &.partners,
            &.supporting,
            &.organizer {
                strong {
                    color: #222;
                }
            }
        }
    }

    .hr {
        margin: 2rem 0;
    }

    .cta-sponsors {
        margin: 3rem 0;
        text-align: center;
        text-transform: uppercase;
    }
}
