@import '../../../scss/base';

.schedule-talks {
    padding: 2.5em 1em;
    text-align: center;

    .container {
        margin: 0 auto;
    }

    h3 {
        margin-top: 1em;
        margin-bottom: 0;
    }

    .subtitle {
        margin-bottom: 1em;
        font-size: 0.7em;

        span {
            color: $dark-blue;
        }
    }

    .talks-container {
        margin-top: 3rem;
        $tabs-border-color: #e3e3e3;

        ul.react-tabs__tab-list {
            text-align: left;
            padding-left: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }

        .react-tabs__tab {
            bottom: 0;
        }

        > .react-tabs {
            > ul.react-tabs__tab-list {
                li.react-tabs__tab {
                    margin-bottom: 0;
                    border: 1px solid $tabs-border-color;
                    border-radius: 0;
                    padding: 1rem 3rem;
                    @media (max-width: 450px) {
                        padding: 0.7rem;
                    }

                    text-align: center;
                    transition: background-color 0.3s ease;

                    &:not(:last-of-type) {
                        border-right: 0;
                    }

                    &.react-tabs__tab--selected {
                        background: $cta-yellow;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    .day-index {
                        font-weight: bold;
                        font-size: 1.5rem;
                        @media (max-width: 450px) {
                            font-size: 1.3rem;
                        }
                    }

                    .day-date {
                        font-size: 1.2rem;
                        margin-top: 0.5rem;
                        color: #555;
                        @media (max-width: 450px) {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .react-tabs {
                ul.react-tabs__tab-list {
                    $room-tabs-bg: #f1f1f1;
                    background: $room-tabs-bg;

                    li.react-tabs__tab {
                        padding: 0.75rem 3rem;
                        @media (max-width: 450px) {
                            padding: 0.75rem;
                            font-size: 0.8em;
                        }
                        border: 0;
                        background: none;
                        margin-bottom: 0;
                        border-bottom: 3px solid transparent;
                        transition: border-bottom 0.3s ease;

                        &.react-tabs__tab--selected {
                            border-bottom-color: $cta-yellow;
                        }
                    }
                }

                .react-tabs__tab-panel {
                    border: 1px solid $tabs-border-color;
                    border-top: 0;
                    padding: 0 2.5rem;
                    @media (max-width: 600px) {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
