@import '../../../scss/base';
.view-all {
    margin-top: 3em;
}
.talk-cards {
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: 768px) {
        padding-top: 1em;
    }
}
