@import '../../scss/variables';
@import '../../scss/mixins';

.page-header {
    position: relative;
    color: white;
    @include antialias;
    text-align: center;
    padding-bottom: 70px;

    .bg-image {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparentize($color: #222, $amount: 0.1);
        }
    }
    h1 {
        font-size: 5rem;

        span {
            color: $cta-yellow;
        }
    }
    .subtitle {
        font-size: 2.375rem;
        font-weight: 300;

        strong {
            color: $light-blue;
        }
    }
    .payoff {
        font-size: 1.25rem;
        font-weight: 300;
    }
    .submit-button {
        margin-top: 30px;

        button {
            @extend %light-blue-button;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
