@import '../../scss/base';

.hp-venue {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-up(md) {
        max-width: 95vw;
    }

    @media (min-width: 1760px) {
        max-width: 1730px;
    }

    .hp-image-wrapper {
        position: relative;
        grid-column: 1 / -1;
        grid-row: 1;
        padding-top: 2rem;

        svg {
            &#venue-bg {
                position: absolute;
                left: -40px;
                bottom: -15px;
                right: -40px;
                width: calc(100% + 80px);
            }

            &.heron-left,
            &.heron-right {
                position: absolute;
                top: 0;
                width: 10rem;

                @media (max-width: 991px) {
                    top: -10vw;
                }

                @media (max-width: 768px) {
                    width: 6rem;
                }

                @media (max-width: 450px) {
                    top: -20vw;
                }
            }

            &.heron-left {
                left: 10%;
            }

            &.heron-right {
                right: 10%;
            }
        }
    }

    .text-wrapper {
        padding: 1rem 3rem;
        color: #fff;
        position: relative;
        align-self: flex-end;
        justify-self: flex-start;
        grid-column: 1;
        grid-row: 1;
        @include antialias;

        .ferrara {
            font-family: $font-family-roboto;

            .label {
                color: $light-blue;
                font-weight: 600;
                text-transform: uppercase;
                font-size: px2rem(18);
                margin: 0;
            }

            h3 {
                font-size: px2rem(80);
                font-weight: 600;
                line-height: 1;
                margin-bottom: 0;
            }

            .italy {
                font-size: px2rem(35);
                margin: 0;
                line-height: 1;
                text-align: right;
            }
        }
        @include media-breakpoint-up(md) {
            .ferrara {
                .label {
                    font-size: px2rem(22);
                }
                h3 {
                    font-size: px2rem(127);
                }
                .italy {
                    font-size: px2rem(43);
                }
            }
        }
    }

    .venue-info {
        @media (min-width: 768px) {
            grid-row: 1;
            grid-column: 2;
            align-self: flex-end;
            justify-self: flex-end;
            padding: 0 3rem 2rem 0;
        }

        @media (max-width: 767px) {
            grid-row: 2;
            grid-column: 1 / -1;
            background: #000;
            position: relative;
        }
    }
}
