@import '../../scss/base';

.cta-sponsor {
    position: relative;
    margin-top: 70px;
    margin-bottom: 100px;

    .black-box {
        background-color: $dark-color;
        transform: rotate(-4deg);
        position: absolute;
        top: 0;
        left: 5px;
        right: 5px;
        bottom: 0;
    }
    .yellow-box {
        background-color: $cta-yellow;
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: 45px 30px;
        font-size: px2rem(27);

        svg {
            position: absolute;

            &.first {
                left: -87px;
                top: -85px;
            }
            &.second {
                right: -93px;
                bottom: -78px;
            }
        }
        h2 {
            font-size: px2rem(49);
            font-weight: 700;
        }
        .cta-subtitle {
            font-weight: 300;
        }
        a {
            color: $body-color;
            padding: 4px 25px;
            border: 4px solid currentColor;
            border-radius: 4px;
            display: inline-block;
            font-size: px2rem(26);
            font-weight: 700;
            margin-top: 10px;
            position: relative;
            z-index: 0;
            transition: all 0.2s ease;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                z-index: -1;
                background: $body-color;
                transition: all 0.3s ease;
            }

            &:hover,
            &:focus {
                // background-color: $body-color;
                border-color: $body-color;
                color: $cta-yellow;
                text-decoration: none;
                @include antialias;

                &::before {
                    width: 100%;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        max-width: 1095px + $grid-gutter-width;

        .yellow-box {
            padding-left: 120px;
            padding-right: 120px;
        }
    }
}
