@import '../../scss/base';

.talk-details {
    @extend .two-columns;
    .relator {
        display: flex;
        margin: 2em 0;
        .name {
            padding-left: 2em;
            display: flex;
            align-items: center;
            .data {
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            margin: 1em 0;
            .name {
                padding: 0;
                text-align: center;
            }
        }
    }
    .column.multiple {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .relator {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .name {
                padding-left: 0;
                margin-top: 30px;
            }
        }
    }
}
