@import '../../scss/variables';

#footer-wrapper {
    border-top: 13px solid $light-blue;
    color: #fff;

    .footer-content {
        background: $dark-color;

        .footer-content-wrapper {
            align-items: flex-start;
            padding: 2.5rem 0;
        }
    }

    .footer-plone-actions {
        background: $footer-actions-bg;
        padding: 1.5rem 0;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            li {
                + li {
                    margin-left: 1rem;
                }
            }
        }
    }

    .footer-flex-helper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .footer-flex-helper {
            flex-wrap: nowrap;

            &.logo-about-wrapper {
                @media (max-width: 480px) {
                    flex-wrap: wrap;
                }
            }

            &.about-plone-wrapper {
                @media (max-width: 768px) {
                    display: block;

                    svg {
                        height: 2.5rem;
                    }

                    .about-plone {
                        padding-left: 0;
                        padding-top: 1rem;
                    }
                }
            }
        }

        .flex-item {
            width: 50%;

            &.flex-item-grow {
                width: auto;
                flex: 1;

                @media (min-width: 992px) {
                    + .flex-item {
                        width: auto;
                    }
                }
            }

            @media (max-width: 991px) {
                width: 100%;
                margin-bottom: 3rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .logo-about-wrapper {
        svg {
            height: 10rem;
            width: auto;
        }
    }

    .about-plone-wrapper {
        svg {
            height: 3.5rem;
            width: auto;
        }
    }

    h2 {
        font-size: 15px;
        color: $light-blue;
        text-transform: uppercase;
        line-height: 20px;
        font-weight: 300;
    }

    p,
    span {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
    }

    p {
        margin-bottom: 0.5rem;
    }

    br {
        font-size: 0.5rem;
    }

    a {
        color: #fff;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: darken(#fff, 15%);
        }
    }

    .about-conf {
        @media (min-width: 481px) {
            padding-left: 2rem;
        }

        @media (max-width: 480px) {
            padding-top: 2rem;
        }
    }

    .about-plone {
        padding-left: 1rem;
        color: $footer-gray;

        span {
            line-height: 22px;
            font-size: 14px;
        }
    }

    .coc-link {
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }

    .rt-info {
        h2 {
            margin-bottom: 0;
        }

        p {
            line-height: 22px;
        }
    }

    .rt-logo {
        padding: 1rem 0;
        line-height: 22px;
        display: block;

        svg {
            height: 1.5rem;
            width: auto;
        }
    }

    .contact-wrapper {
        .label {
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 0.5rem;
            font-size: 12px;
        }
    }

    h2,
    span,
    p {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
