@mixin antialias() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%light-blue-button {
    background-color: $light-blue;
    border-radius: 3px;
    padding: 13px 21px;
    color: white;
    @include antialias();
    font-weight: 700;
    font-size: 1.5625rem;
    border: 0;

    &:hover,
    &:focus {
        background-color: darken($light-blue, 10%);
    }
}
