$font-family-sans-serif: 'Open Sans Regular', sans-serif;
$font-family-roboto: 'Roboto', $font-family-sans-serif;

$font-size-base: 16px;

$light-blue: #35c9e2;
$dark-color: #222;
$footer-actions-bg: #303030;
$footer-gray: #c6c6c6;
