$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-roboto: 'Roboto', $font-family-sans-serif;
$font-family-quantify: 'Quantify', $font-family-sans-serif;

$font-size-base: 1.25rem;

$light-blue: #35c9e2;
$dark-blue: #008abe;
$header-blue: $dark-blue;
$dark-color: #222;
$footer-actions-bg: #303030;
$footer-gray: #c6c6c6;
$gray-light: #f2f2f3;
$cta-yellow: #fad03d;

$link-color: $dark-blue;

$primary: $light-blue;
$yiq-contrasted-threshold: 200;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1398px,
);

$document-container: 1120px;
