@import '../../scss/variables';

#about-the-event {
    .dark-shape {
        background: #333;
        color: #fff;
    }

    .section-label {
        color: $light-blue;
        text-transform: uppercase;
    }

    .text-about {
        h2 {
            font-size: 49px;
            line-height: 60px;
            font-weight: 300;
            font-family: $font-family-roboto;
            margin: 0.5rem 0 2rem;

            .text {
                display: inline-block;
                padding-bottom: 1rem;
                border-bottom: 2px solid $light-blue;
            }

            .title-blue {
                color: $light-blue;
                font-weight: 600;
            }

            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    h2,
    span,
    p {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
