@import '../../scss/base';

$shape-height: 2vw;

#about-the-event {
    margin-bottom: calc(1rem + #{$shape-height});

    .dark-shape {
        background: #333;
        color: #fff;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: $shape-height solid #333;
            border-left: 100vw solid transparent;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 0;
            height: 0;
            border-top: $shape-height solid #333;
            border-left: 100vw solid transparent;
        }
    }

    .blue-shape {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 1.6 * $shape-height solid $light-blue;
            border-left: 60vw solid transparent;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-top: $shape-height solid $light-blue;
            border-right: 100vw solid transparent;
            z-index: -1;
        }

        @media (max-width: 991px) {
            &::before {
                border-bottom: 2.5 * $shape-height solid $light-blue;
                border-left: 100vw solid transparent;
            }

            &::after {
                border-top: 1.5 * $shape-height solid $light-blue;
            }
        }
    }

    .section-label {
        color: $light-blue;
        text-transform: uppercase;
    }

    .text-wrapper {
        .flex-helper {
            display: flex;
            align-items: center;

            .text-about,
            .text-info-wrapper {
                padding: 1rem 0;
            }

            .text-about {
                width: 50%;

                h2 {
                    font-size: px2rem(42);
                    line-height: 50px;
                    font-weight: 300;
                    font-family: $font-family-roboto;
                    margin: 0.5rem 0 2rem;

                    .text {
                        display: inline-block;
                        padding-bottom: 1rem;
                        border-bottom: 2px solid $light-blue;
                    }

                    .title-blue {
                        color: $light-blue;
                        font-weight: 600;
                    }

                    p {
                        font-size: 1.25rem;
                        line-height: 30px;
                    }
                }
            }

            .text-info-wrapper {
                width: 50%;
                padding-left: 4rem;
                position: relative;

                .svg-wrapper {
                    position: absolute;
                    bottom: -$shape-height / 2;
                    right: 0;
                    height: calc(100% + #{$shape-height});
                    max-width: 100%;
                    z-index: 1;
                    text-align: right;

                    svg {
                        height: 100%;
                    }
                }

                .text-info {
                    text-align: right;
                    position: relative;
                    z-index: 2;

                    p {
                        margin: 0;
                        font-family: $font-family-roboto;
                    }

                    .italy-label {
                        color: $light-blue;
                        font-size: 1.75rem;
                        line-height: 33px;
                    }

                    .ferrara {
                        font-size: 7rem;
                        font-weight: 600;
                        line-height: 0.7;
                        margin-bottom: 1rem;
                    }

                    .dates {
                        font-weight: 600;

                        .month {
                            font-size: px2rem(28);
                            line-height: 40px;
                            margin-right: 1rem;
                            text-transform: uppercase;
                        }

                        .days {
                            font-size: px2rem(67);
                            line-height: 80px;
                        }
                    }

                    .get-tickets {
                        display: inline-block;
                        position: relative;
                        font-family: $font-family-roboto;
                        font-size: px2rem(22);
                        line-height: 29px;
                        color: $cta-yellow;
                        border: 2px solid $cta-yellow;
                        padding: 0.5rem 1rem;
                        border-radius: 3px;
                        margin-top: 1rem;
                        text-transform: uppercase;
                        transition: all 0.2s ease;
                        z-index: 0;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0;
                            z-index: -1;
                            background: $cta-yellow;
                            transition: all 0.3s ease;
                        }

                        &:hover,
                        &:focus {
                            color: #000;
                            text-decoration: none;

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            @media (max-width: 991px) {
                flex-wrap: wrap;
                padding-top: 1rem;
                padding-bottom: 1rem;

                .text-about,
                .text-info-wrapper {
                    width: 100%;
                }

                .text-info-wrapper {
                    padding-left: 0;

                    .text-info {
                        .ferrara {
                            font-size: px2rem(80);
                        }

                        .italy-label {
                            font-size: px2rem(23);
                        }

                        .dates {
                            margin-top: 1rem;

                            .month {
                                font-size: px2rem(30);
                                display: block;
                                margin-right: 0;
                            }

                            .days {
                                font-size: px2rem(60);
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    h2,
    span,
    p {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
