@import '../../../scss/variables';

.field {
    margin-bottom: 1em;
    &.error {
        border: 2px solid red;
        background-color: lightcoral;
    }
    label {
        display: block;
    }

    .description {
        font-size: 90%;
        color: #666;
    }
    .thumb-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16;
    }
    .thumb {
        display: 'inline-flex';
        border-radius: 2;
        border: '1px solid #eaeaea';
        margin-bottom: 8;
        margin-right: 8;
        width: 100;
        height: 100;
        padding: 4;
        box-sizing: 'border-box';
    }
    .thumb-inner {
        display: 'flex';
        min-width: 0;
        overflow: 'hidden';
    }
    .img {
        display: 'block';
        width: 'auto';
        height: '100%';
    }
}
